body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #d4a0f7, #97e2e6);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0px 10px 0px;
    background-color: rgba(0, 0, 0, 0.7  );
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    margin-right:580px;
}

.navbar .nav-links a {
    color: white;
    margin: 10px 15px;
    text-decoration: none;  
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    background-color:rgba(255, 255, 255,0.4);   
    transition:  0.5s;
    
}

.navbar .login-btn {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .login-btn:hover {
    background-color: white;
    color: black;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
    transition: transform 0.3s;
}

.login-box:hover {
    transform: translateY(-10px);
}

.login-box h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

.select{
    margin: 1rem;
    text-align: left;
    padding: 0.75rem;
}
.select_role{
    width: 8rem;
    height: 1.50rem;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-icon img {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;   
    background-color: #1390fd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.for {
 margin-left: 50px;    
}
.buslogo {
    margin-left: 5px;
    width: 45px;
    height: 45px;
}
.loginbu:focus {
    background-color:#9ecef8; 
    transition: 0.1s;
}
.reg {
    margin-left: 10px;
}