body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #d4a0f7, #97e2e6);
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

label { 
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 340px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#responseMessage {
    margin-top: 20px;
    color: #007bff;
}
.Sign:focus {
    background-color:#9ecef8; 
    transition: 0.1s;
}
.error {
    color: red;
    font-weight: bold;
}
